<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ToDo List</title>
  </head>
  <body>
    <!-- scriplet tag for inserting JS control flow into a HTML file-->
    <%if(kindOfDay === "Saturday" || kindOfDay === "Sunday") { %>
    <h1 style="color:blue"><%= kindOfDay %> ToDo List</h1>
    <%} else {%>
    <h1 style="color:yellow"><%= kindOfDay %> ToDo List</h1>
    <%}%>
  </body>
</html>
